<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
<head>
<title>Edit Items</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit Items</h1>
<div>
	<form th:object="${item}" th:action="@{../save}" action="#" method="post">
	<input type="hidden" th:field="*{id}" class="form-control"/>
	<label for="name">Name </label>
		<input type="text" id= "name" th:field="*{name}" />
		
		<label for="price">price </label>
		<input type="text" id= "price" th:field="*{price}" />
		
		
		
							
		  	<label for="sectionlist">Section</label>
			 <select id="sectionlist" th:field="*{section}" class="form-control">
       			<option th:each="section: ${sections}" th:value="${section.sectionid}" th:text="${section.name}"></option>
    		</select>
		
		<input type="submit" value="Save"></input>
	</form>
</div>

</body>
</html>